#switch-language-btn {
  button.btn {
    background-color: #333333!important;
  }
  .dropdown-menu > li > a {
    color: #fff;
  }
  img.flag-img {
    width: 16px;
    height: 10px;
  }
  .btn:hover, .btn:focus, .btn.focus {
    color: #B43B0A!important;
  }
}
